/* Site Sans Font Definitions (Regular, Italic, SemiBold, SemiBoldItalic) */

@font-face {
    font-family: 'Site Sans';
    src: url('../fonts/Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Site Sans';
    src: url('../fonts/SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Site Sans';
    src: url('../fonts/Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Site Sans';
    src: url('../fonts/SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Apply Site Sans to all elements */
body, h1, h2, h3, h4, h5, h6, p, div, span, a, li, td, th, input, textarea, button {
    font-family: 'Site Sans', -apple-system, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !important;
}